@model Turma_5413_TP_BrunoSilva.Models.Article

<div class="container mt-5">
    <div class="card bg-dark text-light">
        <div class="card-header text-center">
            <h2>Create New Article</h2>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control bg-dark text-light" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="Content" class="control-label"></label>
                            <textarea asp-for="Content" class="form-control bg-dark text-light"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="PublishedDate" class="control-label"></label>
                            <input asp-for="PublishedDate" class="form-control bg-dark text-light" />
                            <span asp-validation-for="PublishedDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="ImageUrl" class="control-label"></label>
                            <input asp-for="ImageUrl" class="form-control bg-dark text-light" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group form-check">
                            <input asp-for="IsPublic" class="form-check-input" />
                            <label asp-for="IsPublic" class="form-check-label">Is Public</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-custom">Create</button>
                            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
