@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="container mt-5">
    <div class="card bg-dark text-light">
        <div class="card-header text-center">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <partial name="_StatusMessage" for="StatusMessage" />
            <form id="profile-form" method="post">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Username" class="form-control bg-dark text-light" placeholder="Please choose your username." disabled />
                            <label asp-for="Username" class="form-label"></label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Input.PhoneNumber" class="form-control bg-dark text-light" placeholder="Please enter your phone number." />
                            <label asp-for="Input.PhoneNumber" class="form-label"></label>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button id="update-profile-button" type="submit" class="btn btn-custom w-100">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
