body {
    background-color: #121212;
    color: #e0e0e0;
}

.navbar, .footer {
    background-color: #1c1c1c;
}

.nav-link {
    color: #e0e0e0 !important;
}

    .nav-link:hover {
        color: #a0a0a0 !important;
    }

.btn-link {
    color: #e0e0e0 !important;
}

    .btn-link:hover {
        color: #a0a0a0 !important;
    }

.btn-custom {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
}

    .btn-custom:hover {
        background-color: #e0e0e0;
        color: #000000;
    }
