@model Turma_5413_TP_BrunoSilva.Models.ApplicationUser

<div class="card bg-dark text-light">
    <div class="card-header">
        <h2>User Details</h2>
    </div>
    <div class="card-body">
        <h4>Email: @Model.Email</h4>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>
</div>
